@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,900&display=swap');

html{
    font-family: 'Nunito Sans', sans-serif;
}

.extra-light{
    font-weight: $font-extra-light;
}

.light{
    font-weight: $font-light;
}

.regular{
    font-weight: $font-regular;
}

.semi-bold{
    font-weight: $font-semi-bold;
}

.black{
    font-weight: $font-black;
}

.destacado-verde{
    color: $brand-primary-color;
}