.carousel-header-90{
    height: 90vh !important;
}

.carousel-header-90 .owl-nav{
    position: absolute;
}

.frase{
    z-index: 10;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 10%;
    right: 0px;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}

.frase h2{
    font-size: calc(1vw + 60px);
    line-height: 70px;
    // text-shadow: rgba($color: #000000, $alpha: .6) 0px 0px 5px;
}