.owl-carousel-home{
    .owl-dots{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        margin: auto;
        span{
            box-sizing: border-box;
            transform: scale(1.2);
            border-radius: 0px !important;
            border: 2px solid #ffffff;
        }
    }
}

.owl-dot.active span{
    background: $brand-primary-color !important;
}

button:focus{
    border: none !important;
}

.carousel-header-90{
    height: 70vh !important;
    .owl-nav{
        position: absolute;
    }
}

.frase{
    z-index: 10;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 10%;
    right: 0px;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    h2{
        font-size: calc(1vw + 60px);
        line-height: 70px;
        // text-shadow: rgba($color: #000000, $alpha: .6) 0px 0px 5px;
    }
}

.botonera-owlCarouselProyectos > div{
    border: 1px solid $brand-primary-color;
}