.contenedor-formulario-contactanos{
    position: absolute;
    z-index: 2;
    margin: 0;
    left: 0;
    top: 200px;
    transition: .6s ease all;
    @include MQ(M){
        width: auto;
        height: 500px;
    }
}

.ecfc{
    margin-left: -80vw;
    transition: .6s ease all;
    @include MQ(M){
        margin-left: -480px;
    }
}

.formulario-contactanos{
    height: 100%;
    width: 80vw;
    background: #fff;
    box-shadow: rgba($color: #000000, $alpha: .2) 0px 5px 15px;
    @include MQ(M){
        width: 480px;
    }
    & textarea{
        resize: none;
    }
    & .enviaContacto{
        width: 80%;;
    }
}

.btn-contactanos{
    box-sizing: border-box;
    position: relative;
    top: 0;
    left: 0;
    height: 170px;
    width: 50px;
    border-radius: 0rem .25rem .25rem 0rem;
    & p{
        transform: rotate(-90deg);
    }
}